{% extends "blog/base.html" %}
{% block content %}

<div class="page">
  <div class="user-search-form">
    <form method="get">
      <input name="q" value="{{ query }}" placeholder="Search username">
      <button type="submit">Search</button>
    </form>
  </div>

  {% for user in users %}
    <div class="user-result">
      <span class="user-result-name">{{ user.username }}</span>

      <form method="post" action="{% url 'send_chat_request' user.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Send Request</button>
      </form>
    </div>
  {% endfor %}
</div>

{% endblock %}
