{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MyBlog</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>

<body id="body">

<nav class="navbar">
  <div class="nav-left">
    <a href="{% url 'home' %}" class="logo">MyBlog</a>
  </div>

  <div class="nav-right">
    <button class="icon-btn" onclick="toggleDark()">🌙</button>

    {% if user.is_authenticated %}
      <a href="{% url 'create_post' %}" class="btn">New Post</a>
      <a href="{% url 'profile' user.username %}" class="btn secondary">Profile</a>

      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn danger">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}" class="btn">Login</a>
    {% endif %}
  </div>
</nav>


{% for message in messages %}
<div class="alert">{{ message }}</div>
{% endfor %}

<main class="page">
{% block content %}{% endblock %}
</main>

<script>
function toggleDark() {
  document.body.classList.toggle("dark");
  localStorage.setItem("mode", document.body.classList.contains("dark"));
}
if (localStorage.getItem("mode") === "true") {
  document.body.classList.add("dark");
}

</script>
<script src="{% static 'blog/main.js' %}"></script>

<script>
document.addEventListener("click", function (e) {

  if (e.target.classList.contains("comment-delete-btn")) {
    const commentId = e.target.dataset.commentId;

    fetch(`/comment/delete/${commentId}/`, {
      method: "POST",
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
      },
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        document.getElementById(`comment-${commentId}`).remove();
      }
    });
  }

});

/* CSRF helper */
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let cookie of cookies) {
      cookie = cookie.trim();
      if (cookie.startsWith(name + "=")) {
        cookieValue = decodeURIComponent(cookie.slice(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
</script>

</body>
</html>
